
   <div class="w3-container">
    <div class="topclass">
       <a href="https://www2.gmu.edu/">
       <img src="/assets/images/us_u_gmu.jpg" alt="GMU Logo" width="300" height="50" style="background:white"></a>
       
          <h1><b>Department of Computer Science</b></h1>
       
    </div> 
<div> 
      
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
   <div id="example1">
      <h2> One of the biggest Departments</h2> <!-- Information about CS page used headings and paragraphs to describe -->
      <h3> A brief description:</h3>
      <p class="w3-container">The Computer Science discipline is concerned with the design, analysis, implementation, maintenance, and evolution of computer-based systems, and their associated theoretical foundations. Computer science is powering the information revolution of the 21st century, and computer-based systems are used in every scholarly discipline, every sector of industry, and every walk of human life.
         Advanced computation tools and techniques are revolutionizing, transforming, and often automating the way we work, play, communicate, collaborate, and conduct business. Computational approaches are integral to a broad array of disciplines including computational natural and social sciences, bioinformatics, health informatics, digital humanities, and financial technology.  In addition, the spread of computing throughout society has made the ethical use of computing a central concern to policymakers.
      </p>
      <h3 class="w3-container"> List of MS degrees offered by GMU</h3> <!-- list of MS Degrees using the XHTML List elements -->
      <ul>
         <li>MS in Applied and Engineering Physics</li>
         <li>MS in Computational Science</li>
         <li>MS in Mathematics </li>
         <li>MS in Physics</li>
      </ul>
      <h3 class="w3-container"> List of required courses for each MS degree:</h3>
      <style>
         table, th, td {
         border: 1px solid black;
         }
         #example1 {
         border: 2px solid black;
         padding: 50px 50px 100px 100px;
         background-color: lightgrey;
         }
      </style>
      <table class="w3-container" > <!-- MS degree program using a table with the course number and course name as the columns-->
         <tr class="w3-row">
            <th>MS Program</th>
            <th class="w3-col w3-container w3-blue">Course Number</th>
            <th>Course Name</th>
         </tr>
         <tr class="w3-row">
            <td>MS in Applied and Engineering Physics</td>
            <td class="w3-col w3-container w3-blue">PHYS 502,PHYS 620,PHYS 684</td>
            <td>Introduction to Quantum Mechanics and Atomic Physics,Quantum Mechanics I</td>
         </tr>
         <tr class="w3-row">
            <td>MS in Computational Science</td>
            <td class="w3-col w3-container w3-blue">CSI 690,CSI 695,CSI 702,CSI 703</td>
            <td>Numerical Methods,Scientific Databases,High-Performance Computing,Scientific and Statistical Visualization</td>
         </tr>
         <tr class="w3-row">
            <td >MS in Mathematics</td>
            <td class="w3-col w3-container w3-blue">MATH 675,MATH 621,MATH631,MATH677,MATH685</td>
            <td>Linear Analysis,Algebra I,Topology I: Topology of Metric Spaces,Ordinary Differential Equations,Numerical Analysis</td>
         </tr>
         <tr class="w3-row">
            <td>MS in Physics</td>
            <td class="w3-col w3-container w3-blue">CS 530, CS 550, INFS 612, INFS 622, INFS 740</td>
            <td>Mathematical Foundations of Computer Science, Database Systems,Principles and Practices of Communication Networks,Information Systems Analysis and Design,Database Programming for the World Wide Web</td>
         </tr>
      </table>
   </div>
   <body>
      <div class="w3-container">
         
        <a routerLink="/survey">Click here to go to survey form</a> <br>
        <a routerLink="/display">Click here to look at forms you have submitted</a><br>
         
      </div>
   </body>
   <br>
   <br>
   <footer>
      <a href="https://www2.gmu.edu/">
      <img src="/assets/images/us_u_gmu.jpg" alt="GMU Logo" style="float:right;width:200px;height:70px; text-shadow: 0 0 0px #FF0000;">
      </a>
      <p>Authors: Kamala Srihas Pochiraju,
         Sree Vaishnavi Aluru,
        Venkat Sai Rama,
       Sai Sri Lekha Thirunahari
    </p>
      
   </footer>
